body { margin:0; background: #EFEFEF; color: #555; }
body { font-size: 16px; font-family: "儷黑 Pro", "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", sans-serif; }
body {
  background-color: #EFEFEF;
  background-image: linear-gradient(transparent 70%, rgba(255,255,255,.5) 70%);
  background-size: 50px 50px;
}
h1, h2, h3, h4, h5, h6 { margin: 0; }
a, a:link, a:visited { color: #86ba41 }
a, a:hover { color: #629437; }
#page { margin: 0; width: 100%;}
header, footer { width: 95%; margin: 0 auto; }
footer { padding-top: 20px; }

#share { font-size: 1.0em; position: absolute; right: 3%; top: 5px; }
#nav { font-size: 1.0em; }
#map-diff { position: relative; }
.map { height: 300px; }
#overlay {  }
input[type=text] { width: 80%;}

/* font awsome*/
.fa:before {
  padding-right: 5px;
}
#nav .fa {
  margin-left: 20px;
}
#nav .fa-random {
  margin-left: 5px;
}
main span.balinks:first-child a:after {
  content: "\f152";
  padding-left:10px;
  font: normal normal normal 14px/1 FontAwesome;
}
main span.balinks:last-child a:before{
  content: "\f191";
  padding-right:10px;
  font: normal normal normal 14px/1 FontAwesome;
}

/* leaflet */
.legend {
  line-height: 18px;
  color: #555;
  background: #EFEFEF;
  opacity: 0.9;
  padding: 5px;
  border-radius: 10px;
}
.legend i {
  width: 18px;
  height: 18px;
  margin-right: 8px;
}
.legend .pink i { color: #F4BDCF; }
.legend .deep-blue i { color: #085884; }
.legend .green i { color: #08EE66; }
.legend .deep-green i { color: #0F756A; }


/**
 * slides
 */
#overlay {
  position: absolute;
  top: 0;
  text-align: center;
  vertical-align: center;
  background: rgba(33,33,33, .8);
}
#overlay #play {
  position: absolute;
  top: 45%;
  font-size: 60px;
  color: #EFEFEF;
  cursor: pointer;
  text-shadow: 0 0 10px #CCCCCC;
}
.slide-legend, .slide-slider, .spinner {
  font-family: "儷黑 Pro", "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", sans-serif;
  color: #FFFFFF;
  text-shadow: 0 0 8px #000000;
}
.slide-legend h3 {
  font-size: 26px;
}
.slide-slider .indicator {
  font-size: 16px;
  padding-right: 10px;
  cursor: pointer;
  color: #EFEFEF;
  width: 125px;
}
.spinner {
  font-size: 20px;
  display:none;
}
