body { margin:0; background: #EFEFEF; color: #555; }
body { font-family: "儷黑 Pro", "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", sans-serif; }
body {
  background-color: #CCC;
  background-image: linear-gradient(transparent 70%, rgba(255,255,255,.5) 70%);
  background-size: 50px 50px;
}
h1, h2, h3, h4, h5, h6 { margin: 0; }
a, a:link, a:visited { color: #86ba41 }
a, a:hover { color: #629437; }
#page { margin: 10px auto; width: 95%; margin: 10px; }
main { height: 100%;}

#share { font-size: 0.96em; position: absolute; right: 10px; top: 5px; }
#nav { font-size: 1.15em;}
.map { height: 560px; }
input { width: 80%;}

.fa:before {
  padding-right: 5px;
}
